Package: haskell-hellodebhs-utils
Source: haskell-hellodebhs
Version: 0.1
Architecture: amd64
Maintainer: Tom Nielsen <tomn@openbrain.org>
Installed-Size: 728
Depends: libc6 (>= 2.15), libffi6 (>= 3.0.4), libgmp10
Section: misc
Priority: optional
Description: No short description available
 Minimal Haskell-compiled Debian package
 .
  Author: Tom Nielsen
  Upstream-Maintainer: tomn@openbrain.orf
 .
 Files associated with the hellodebhs package.
